<img src="Figuras/gbdi.jpg" width=550><br>

# Introdu√ß√£o √† Linguagem SQL
Sintaxe geral da linguagem

**Objetivo:** Explorar comandos b√°sicos da linguagem SQL,\
    usando como exemplo de teste uma <i>toy database</i> que cont√©m dados sobre as m√°triculas de 15 alunos:\
    &emsp; &emsp; __a base de Dados `Universidade`__

__Atividades:__ 
 * Explorar a sintaxe geral da linguagem
   * A caixa dos comandos,
   * Como os s√≠mbolos do usu√°rio s√£o compostos,
   * Como separar comandos,
   * Como fazer comentarios.

## 1. Conectar com a Base de Dados

Para come√ßar, sempre √© necess√°rio, em cada `Notebook`:
  * Carregar os pacotes que ser√£o usados;
  * Estabelecer a cone√ß√£o com a base.

In [ ]:
############## Importar os m√≥dulos necess√°rios para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Universidade ###################### --> Postgres.universidade
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/universidade')
%sql postgresql://postgres:pgadmin@localhost/universidade

## 2. Sintaxe geral

### 2.1 Caixa da letra

SQL n√£o √© sens√≠vel √† caixa da letra.

In [ ]:
%%sql
SELECT Current_database();

In [ ]:
%%sql
select current_database();

In [ ]:
%%sql
SELECT CURRENT_DATABASE();

Em geral, uma boa conven√ß√£o de usar a caixa das letras, para facilitar a leitura, √© usar:
  * Palavras reservadas da linguagem em caixa-alta: `CREATE`, `SELECT`, etc.
  * Os s√≠mbolos do usu√°rio em min√∫sculas, com a primeira letra mai√∫sucula (e alguns caracteres de destaque tamb√©m).

### 2.2 Composi√ß√£o dos S√≠mbolos do usu√°rio

Os nomes dos objetos criados pelo cliente, tais como `Tabelas`, `Rela√ß√µes`, etc., devem ser compostos por:
  * letras,
  * d√≠gitos,
  * _underscore_.\
O nome n√£o pode come√ßar com um d√≠gito.

Os valores dos atributos podem usar quaisquer caracteres do dicion√°rio sendo usado\
&emsp; &emsp; Nossa base foi criada usando a codifica√ß√£o `UTF8`.\
<small>(Lembra do comando `CREATE DATABASE` que usamos para criar a base)</small>

In [ ]:
%%sql
DROP TABLE IF EXISTS exemplo;
CREATE TABLE Exemplo (
    Dado_Um INTEGER,
    Frase TEXT
);
INSERT INTO EXEMPLO VALUES (123, 'aBc');

Os nomes dos objetos criados pelos clientes devem respeitar a caixa com que foram armazenados.\
Os "valores" armazenados sempre respeitam a caixa com que foram criados.

Alguns SGBDs reconhecem e armazenam os nomes de objetos como caixa-baixa, a menos que algo diferente seja explictamente solicitado.

In [ ]:
%%sql
SELECT * FROM Exemplo;

Valores literais, colocados entre `' '` e `" "`, s√£o mantidos na caixa indicada.

In [ ]:
%%sql
INSERT INTO EXEMPLO VALUES (123, 'S√£o Carlos');
INSERT INTO EXEMPLO VALUES (321, 'ArArAquArA');
INSERT INTO EXEMPLO VALUES (222, 'Jacarepagu√°: üêä pa üåä');
SELECT * FROM Exemplo;

Mudan√ßas de linhas e formata√ß√£o com espa√ßos √© irrelevante.

In [ ]:
%%sql
INSERT 
    INTO Exemplo
    VALUES (321,
            'S√£o Jos√© 
                      dos 
                           Campos'
           );
SELECT * FROM Exemplo;

Se o valor do atributo tiver um caracter `'`, ent√£o ele deve ser codificado usando `''`.

In [ ]:
%%sql
INSERT 
    INTO Exemplo
    VALUES (321, 'colocando ''aspas'''
           );
SELECT * FROM Exemplo;

### 2.3 Separa√ß√£o entre Comandos

Comandos s√£o separados por ` ; `.

In [ ]:
%%sql 
INSERT INTO EXEMPLO VALUES (1, 'A'); INSERT INTO EXEMPLO VALUES (2, 'B'); INSERT INTO 
            EXEMPLO VALUES (3, 'C');               SELECT * FROM Exemplo;

Quando a string submetida ao servidor tem apenas um comando,\
o separador ` ; ` pode ser omitido.

In [ ]:
%%sql
SELECT * 
    FROM Exemplo

### 2.4 Comet√°rios

Coment√°rios s√£o indicados por `--`: o restante da linha, ap√≥s os dois tra√ßos, √© coment√°rio.

In [ ]:
%%sql
INSERT INTO EXEMPLO   -- Vamos inserir mais um exemplo:
    VALUES (456,      -- este √© o primeiro valor
            'Segundo' -- e este √© o segundo valor
           );
SELECT * FROM Exemplo;

Alguns SGBDs aceitam o padr√£o `/* coment√°rio */`, mas depois do ` /* ` √© importante haver um espa√ßo em branco,\
pois alguns s√≠mbolos podem ter significado especial para o coment√°rio <small>(tipo um _pragma_)</small>.

In [ ]:
%%sql

INSERT INTO EXEMPLO   -- Vamos inserir mais um exemplo:
    VALUES (1232123,  /* este √© o primeiro valor
                         o qual corresponde ao primeiro atributo */
            'este √© o √∫ltimo exemplo agora' /* e este √© o segundo valor */ 
            );
SELECT * FROM /* de qual tabela vamos ler: */ Exemplo;

Em PostgreSQL, coment√°rios `\* *\` pode ser aninhados.

In [ ]:
%%sql
INSERT INTO EXEMPLO 
    VALUES (99999999, /* Eu disse: 
                                /* vou repetir */ 
                        de novo */
            'este √© o √∫ltimo exemplo!!!!'
            );
SELECT * FROM  Exemplo;

## Agradecimentos

Material do Prof. Caetano Traina Jr.