<img src="Figuras/gbdi.jpg" width=550><br>

# Introdução à Linguagem SQL

## A <b>DML:</b><i> <b>D</b>ata <b>M</b>anipulation <b>L</b>anguage</i><br>
<u>Parte 1</font>
</font>
<div align="right"><font size="1" face="arial" color="gray">19 cel</font></div>

**Objetivo:** Explorar comandos básicos da sub-linguagem de manipulaçào de dados em SQL,\
    usando como exemplo de teste uma <i>toy database</i> que contém dados sobre as mátriculas de 15 alunos:\
    &emsp; &emsp; __a base de Dados `Universidade`__

__Atividades:__ 
 * Explorar as cláusulas `SELECT` e `FROM` do comando `SELECT`
 * Clàusula `Distinct`
 * Aliases
 * Expressão `*`
 * Expressões `CASE`

## 1. Conectar com a Base de Dados

Para começar, sempre é necessário, em cada `Notebook`:
  * Carregar os pacotes que serão usados;
  * Estabelecer a coneção com a base.

In [ ]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Universidade ###################### --> Postgres.universide
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/universidade')
%sql postgresql://postgres:pgadmin@localhost/universidade

## 2. <b><font size="6" face="courier" color="blue">O Comando SELECT</font></b>

<b><font size="4" face="courier" color="blue">O Comando SELECT</font></b> é o mais usado em SQL,
e é aquele que têm a sintaxe mais rica.\
Ele sintetiza as construções sintáticas de todos os demais comandos da DML,\
  &emsp; e portanto, uma vez entendido, serve de subsídio para entender todos os demais.

<br>
  
O comando `SELECT` recupera dados armazenados no servidor e os retorna ao cliente como uma tabela.\
  &emsp; &emsp; &emsp; $\therefore$ ele atende aos &starf; preceitos do __Modelo Relacional.__ &starf;\
Seu uso principal é retornar dados armazenados nas tabelas da base de dados,\
sendo este o único propósito previsto no padrão ISO.

No entanto, a maioria dos SGBDs, incluindo PostgreSQL, também permite utilizá-lo para obter outros dados do servidor, como por exemplo:
  * verificar dados do ambiente de execução (qual a base em que estamos conectados),
  * executar expressões aritméticas e
  * executar funções pré-definidas.## 2 Sintaxe geral: 

A sintaxe geral do comando `SELECT` é:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
SELECT [<u>ALL</u> | DISTINCT] $<$lista de atributos$>$<br>
   &emsp; FROM $<$lista de Tabelas$>$<br>
   &emsp; [WHERE $<$condições$>$]<br>
   &emsp; [GROUP BY $<$lista de atributos><br>
      &emsp; &emsp; [HAVING $<$condição$>$]]<br>
   &emsp; [ORDER BY $<$Lista de atributos$>$ [<u>ASC</u>|DESC], ...]
   ;</font></b>
</div>

Apenas as cláusulas `SELECT` e `FROM` são obrigatórias pelo padrão.\
E se forem solicitados dados que não são de uma tabela, nem `FROM` é obrigatório.

Vamos estudar suas cláusulas componentes.

## 2 Sintaxe geral: 

A sintaxe geral do comando `SELECT` é:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
SELECT [<u>ALL</u> | DISTINCT] $<$lista de atributos$>$<br>
   &emsp; FROM $<$lista de Tabelas$>$<br>
   &emsp; [WHERE $<$condições$>$]<br>
   &emsp; [GROUP BY $<$lista de atributos><br>
      &emsp; &emsp; [HAVING $<$condição$>$]]<br>
   &emsp; [ORDER BY $<$Lista de atributos$>$ [<u>ASC</u>|DESC], ...]
   ;</font></b>
</div>

Apenas as cláusulas `SELECT` e `FROM` são obrigatórias pelo padrão.\
E se forem solicitados dados que não são de uma tabela, nem `FROM` é obrigatório.

Vamos estudar suas cláusulas componentes.

## 3. `SELECT <atributos> FROM <Tabelas>`

Um comando `SELECT` precisa indicar pelo menos os __atributos__ que serão recuperados,\
de pelo menos uma __tabela__:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
SELECT  $<$lista de atributos$>$<br>
   &emsp; FROM $<$Tabela$>$;</font></b>
</div>

 * Cada atributo da lista é separado por vírgula;
 * Nomes de atributos e de tabelas não são sensíveis à caixa da letra.

Exemplo usando primeiro a mágica `%%sql` (que assume que todo o restante do texto da célula é o comando `SQL`):

In [ ]:
%%sql
SELECT Nome, NUSP
    FROM Aluno;

Ou o mesmo exemplo usando a mágica `%sql` (o restante da linha é o comando `SQL`, possivelmente com o final `\` para continuar a linha):

In [ ]:
%sql Result <<     \
SELECT Nome, NUSP  \
    FROM Aluno;

print(Result)

O PostgreSQL permite omitir a cláusula `FROM` quando se quer
solicitar um dado que não está em uma tabela, tal como uma função ou uma constante.

In [ ]:
%%sql
SELECT Current_database();

In [ ]:
%%sql
SELECT Now(), PI(), 2+2;

Essa sintaxe viola a especificação ISO, \
mas é consistente com o jargão informal de SQL.

### 3.1 Tuplas repetidas

  * Se a lista de atributos não contiver uma chave, a resposta pode ter tuplas repetidas.

In [ ]:
%%sql
SELECT Cidade FROM Aluno;

  * A eliminação de repetições pode ser solicitada com a diretriz `DISTINCT`:

<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
SELECT [<u>ALL</u> | DISTINCT] $<$lista de atributos$>$<br>
   &emsp; FROM $<$lista de Tabelas$>$;</font></b>
</div>

In [ ]:
%%sql
SELECT DISTINCT Cidade
    FROM ALuno;

Veja que sem usar a cláusula `DISTINCT`, o resultado apenas 'projeta' os atributos,\
  &emsp; sem executar a `eliminação de duplicatas`, \
    &emsp; e <font color="red">gerando uma tabela que viola a restrição de não-repetição de tuplas:</font>

In [ ]:
%%sql
SELECT Cidade
    FROM ALuno;

### 3.2 Aliases

Nomes de atributos e de tabelas podem ter um alias.

In [ ]:
%%sql
SELECT Nome, NUSP AS NumeroUSP
    FROM Aluno AS A;

  * o conectivo `AS` é opcional.

O `alias`  pode ser colocado entre `" "` para que se respeite a caixa do texto\
 ou para usar símbolos e separadores:

 &emsp; &emsp; &starf; Valores são colocados entre `' '` aspas simples,\
 &emsp; &emsp; &starf; Aliases são colocados entre `" "` aspas duplas.

In [ ]:
%%sql
SELECT Nome AS "Nome Completo", 
       NUSP AS "# USP"
    FROM Aluno A;

### 3.3 Explicitando a tabela do atributo

Os atributos podem ser qualificados pela tabela à qual pertencem.\
<small>(Util especialmente quando se usa várias tabelas que podem ter nomes de atributos repetidos)</small>

In [ ]:
%%sql SELECT Aluno.Nome, NUSP
    FROM Aluno;

  * Quando uma tabela tem um `alias`, a qualificação tem que ser feita com ele:

In [ ]:
%%sql
SELECT A.Nome, Idade
    FROM Aluno A;

<font color="red">
    <font size="6">&emsp; &#9758;</font>
    Caso contrário, o comando resulta em erro!</font>

In [ ]:
%%sql
SELECT Aluno.Nome, Idade
    FROM Aluno A;

### 3.4 Indicando todos os atributos de uma tabela

Para obter todos os atributos de uma tabela, usa-se `*`, para não precisar colocaar a lista inteira de atributos.

In [ ]:
%%sql
SELECT *
    FROM Aluno;

Indicar `SELECT *` retorna todos os atributos de todas as tabelas solicitadas.\
Se forem necessários todos os atributos de apenas <u>uma determinada tabela,</u> pode-se indicar a tabela explicitamente:

In [ ]:
%%sql
SELECT Aluno.*
    FROM Aluno;

É claro que podem ser usados `Aliases`:

In [ ]:
%%sql
SELECT A.*
    FROM Aluno A;

Nada impede que sejam repetidos atributos no resultado:

In [ ]:
%%sql
SELECT Nome||' de '||Cidade, Aluno.*, Idade*12 "Meses", Upper(Nome)
    FROM Aluno;

ATENÇÃO:\
Usar `*` facilita escrever comandos quando se está testando comandos em utilitário interativo, tal como um `Notebook`,\
<font color="red"><font size="6">&emsp; &#9758;</font> Mas usar `*` não é uma boa prática para programação de aplicativos.</font>\
Se a tabela for atualizada incluindo ou renomeando atributos, um comando programado pode passar a dar erro.

### 3.5 Parâmetro da cláusula `SELECT`

A lista de atributos pode conter:
  * Nome de atributos: &emsp; &emsp; &emsp; &emsp; `SELECT Idade FROM Aluno;`
  * Operações entre atributos: &emsp; `SELECT Nome||' de '||Cidade, Aluno.*, Idade*12 "Meses", Upper(Nome) FROM Aluno;`
  * Funções  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  `SELECT upper(Nome) FROM Aluno;`
  * Expressões &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; `CASE`
  * Subselects (a ser estudado em outro <i>Notebook</i>)

#### 3.5.1 Expressão `CASE`

É possível usar condições para modificar valores: <font size="3">Expressões <font size="3" face="courier" color="blue"><b>CASE</b></font>.</font>

Existem duas construçoes Sintáticas: 

<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
CASE $<$Expressão$>$<br>
    &emsp; WHEN $<$Valor Original$>$ THEN <Valor final><br>
    &emsp; [WHEN ...]<br>
    &emsp; [ELSE $<$Valor Default$>$]<br>
END
    </font></b>
</div>

ou 

<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
CASE <br>
    &emsp; WHEN $<$Condição$>$ THEN <Valor final><br>
    &emsp; [WHEN ...]<br>
    &emsp; [ELSE $<$Valor Default$>$]<br>
END
    </font></b>
</div>

Se `ELSE` não for especificado , valores que não atendam a nenhuma condição `WHEN` assumem `null`.\
<small>(Jupyter notebook imprime `null` como `none`)</small>

In [ ]:
%%sql     -- Exemplo para expressão
SELECT Nome, Cidade, CASE Cidade
                          WHEN 'Sao Carlos' THEN 'aqui mesmo'
                          ELSE 'de fora'
                          END AS "Região"
FROM Aluno A;

In [ ]:
%%sql     -- Exemplo para condição
SELECT Nome, CASE WHEN Idade <= 20 THEN 'Adolescente'
                  WHEN Idade BETWEEN 21 AND 24 THEN 'Jovem'
                  WHEN Idade BETWEEN 25 AND 32 THEN 'Zoomer'
                  ELSE Idade::Text
                END AS "Faixa Etária",
        Idade
FROM Aluno A;

Lembre-se:
  * Para obter o valor de um atributo, é preciso indicar ao menos uma tabela,\
        <font size="6">&emsp; &#9758;</font> pois é de onde se traz a resposta;
  * A lista de atributos corresponde a um
        operador de projeção da álgebra relacional:\
		<font size="4">`SELECT` $a$ `FROM` $R_1$ </font> &emsp;
          é equivalente a &emsp; 
          <font size="6">$\pi_{\{\mathit{a}\}}(R_1)$</font>

## Agradecimentos

Material do Prof. Caetano Traina Jr.